* {
  box-sizing: border-box;
}

body {
  font-family: Inter, system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
}

ion-content {
  --background: #e9eaec;
}

ion-card {
  --background: #f5f5f5;
}

ion-menu {
  --background: var(--navy);
}

ion-menu ion-content {
  --background: var(--navy);
}

.login-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #09253a;
}

.login-card {
  max-width: 540px;
  width: 100%;
  margin: 0 16px;
}

.chartwrap {
  background: #fff;
  border: 2px solid #bdbdbd;
  border-radius: 16px;
  padding: 10px;
  margin-bottom: 20px;
}
